:root {
  --mo-absolute-white: #FFFFFF;
  --mo-abyss-blue: #00263E;
  --mo-ancient-pink: #9C6169;
  --mo-apple-green: #C5E86C;
  --mo-apricot: #FF8674;
  --mo-aqua: #0095C8;
  --mo-arctic-blue: #B7DDE1;
  --mo-army: #51534A;
  --mo-army-green: #5B6236;
  --mo-ash: #C1C6C8;
  --mo-astral-purple: #5D295F;
  --mo-atoll-blue: #4EC3E0;
  --mo-baby-blue: #009CDE;
  --mo-baby-pink: #E89CAE;
  --mo-beige: #F1E6B2;
  --mo-beige-red: #DEA39C;
  --mo-black: #000000;
  --mo-black-2: #000000;
  --mo-black-blue: #00C1D4;
  --mo-black-charcoal-grey: 25282A;
  --mo-black-dark-grey: #3D3935;
  --mo-black-lime: #32CD32;
  --mo-black-red: #3D3935;
  --mo-black-white: #FFFEF6;
  --mo-blue: #1D428A;
  --mo-blue-white: #051C2C;
  --mo-bottle-green: #154734;
  --mo-bright-red: #C8102E;
  --mo-bright-sky: #A7C6ED;
  --mo-brown: #AE8A79;
  --mo-burgundy: #9B2743;
  --mo-burnt-orange: #E04E39;
  --mo-camo-royal-blue: #00263A;
  --mo-candy-pink: #F5B6CD;
  --mo-carbon-grey: #1D252D;
  --mo-caribbean-blue: #00B2A9;
  --mo-champagne: #CEB888;
  --mo-charcoal-grey: #63666A;
  --mo-charcoal-melange: #54585A;
  --mo-chili-red: #782F40;
  --mo-chocolate: #4E3629;
  --mo-copper: #B87333;
  --mo-cream: #F5F5F5;
  --mo-creamy-blue: #BBC7D6;
  --mo-creamy-green: #D1E0D7;
  --mo-creamy-pink: #F2D4D7;
  --mo-dark-beige: #C6AA76;
  --mo-dark-blue: #051C2C;
  --mo-dark-chocolate: #382E2C;
  --mo-dark-green: #173F35;
  --mo-dark-green-2: #173F35;
  --mo-dark-grey: #545859;
  --mo-dark-grey-grey: #575257;
  --mo-dark-khaki: #3E4827;
  --mo-dark-orange: #FE5000;
  --mo-dark-purple: #440099;
  --mo-deep-black: #D1E0D7;
  --mo-deep-charcoal-grey: #3D3935;
  --mo-denim: #041C2C;
  --mo-duck-blue: #00677F;
  --mo-earth: #5E4B3C;
  --mo-emerald: #007367;
  --mo-fir-green: #284734;
  --mo-flannel-grey: #5E514D;
  --mo-folk-pink-twin: #F5B6CD;
  --mo-folk-red-twin: #8A1538;
  --mo-forest-green: #3E5D58;
  --mo-forest-green-white: #D1E0D7;
  --mo-french-navy: #051C2C;
  --mo-french-navy-2: #051C2C;
  --mo-french-navy-neon-orange: #FF8F6C;
  --mo-french-navy-royal-blue: #00263A;
  --mo-french-navy-white: #FFFEF6;
  --mo-frozen-green: #A0DAB3;
  --mo-fuchsia: #E0457B;
  --mo-gold: #FFD700;
  --mo-golf-green: #2C5234;
  --mo-green: #006341;
  --mo-green-empire: #024638;
  --mo-grey: #808080;
  --mo-grey-2: #53565A;
  --mo-grey-melange: #888B8D;
  --mo-grey-melange-2: #97999B;
  --mo-grey-melange-french-navy: #53565A;
  --mo-heather-beige: #C5B9AC;
  --mo-heather-denim: #00263A;
  --mo-heather-khaki: #5E6738;
  --mo-heather-light-green: #5CB8B2;
  --mo-heather-oxblood: #6A2C3E;
  --mo-heather-pink: #F5DADF;
  --mo-heather-sky: #BBC7D6;
  --mo-hibiscus: #EF3340;
  --mo-ice-blue: #A4BCC2;
  --mo-irish-green: #006A52;
  --mo-ivory: #DFD1A7;
  --mo-kelly-green: #007749;
  --mo-khaki: #C6AA76;
  --mo-lemon: #FCE300;
  --mo-light-blue: #CED9E5;
  --mo-light-grey: #9D968D;
  --mo-light-grey-melange: #768692;
  --mo-light-purple: #470A68;
  --mo-light-yellow: #EBE49A;
  --mo-lilac: #C6BCD0;
  --mo-lime: #CEDC00;
  --mo-linen-twin: #CBC4BC;
  --mo-matt-gold: #B87333;
  --mo-matt-silver: #C0C0C0;
  --mo-medium-pink: #EBBECB;
  --mo-melange-grey-orange: #C6AA76;
  --mo-metal-grey: #808080;
  --mo-mint-green: #A7BDB1;
  --mo-mix-colour: linear-gradient(to right,#f00,#f00 33.33%,#0f0 33.33%,#0f0 66.67%,#00f 66.67%);
  --mo-mouse-grey: #253746;
  --mo-multicolour: linear-gradient(to right,#E0D703,#E0D703 50.00%,#E8509C 50.00%);
  --mo-natural: #F2EFD9;
  --mo-navy: #051C2C;
  --mo-navy-royal: #00263A;
  --mo-navy-off-white: #041C2C;
  --mo-neon-coral: #FF5FA2;
  --mo-neon-fuchsia: #FF5FA2;
  --mo-neon-green: #44D62C;
  --mo-neon-lime: #97D700;
  --mo-neon-lime-royal-blue: #00263A;
  --mo-neon-orange: #FF8F6C;
  --mo-neon-pink-2: #FF5FA2;
  --mo-neon-yellow: #C5E86C;
  --mo-ochre: #C99700;
  --mo-off-white: #041C2C;
  --mo-off-white-navy: #041C2C;
  --mo-off-white: #041C2C;
  --mo-orange: #FF8200;
  --mo-orange-2: #FF8200;
  --mo-orchid-pink: #D986BA;
  --mo-oxblood: #572932;
  --mo-pale-pink: #F5DADF;
  --mo-pale-yellow: #F0E87B;
  --mo-peach: #E8927C;
  --mo-pepper-red: #9B2242;
  --mo-petrol: #8E9FBC;
  --mo-petroleum-blue: #004851;
  --mo-pink: #F7CED7;
  --mo-pool-blue: #58A7AF;
  --mo-pop-orange: #FF585D;
  --mo-prairie-green-white: #00873E;
  --mo-pure-grey: #98A4AE;
  --mo-recycled-black: #000000;
  --mo-recycled-grey-melange: #D1E0D7;
  --mo-recycled-navy: #051C2C;
  --mo-recycled-red: #C10016;
  --mo-recycled-royal-blue: #00263A;
  --mo-recycled-white: #FFFEF6;
  --mo-red: #E4002B;
  --mo-red-2: #E0004D;
  --mo-red-white: #C10016;
  --mo-ribbon-pink: #F04E98;
  --mo-rope: #B7B09C;
  --mo-royal-blue: #0032A0;
  --mo-royal-blue-2: #003A70;
  --mo-royal-blue-3: #0032A0;
  --mo-royal-blue-white: #051C2C;
  --mo-royal-neon-yellow: #C0DF16;
  --mo-sage-green: #B7CE95;
  --mo-sand: #CEB888;
  --mo-shiny-silver: #8A8D8F;
  --mo-silver: #8A8D8F;
  --mo-sky-blue: #92C1E9;
  --mo-sky-blue-pique: #92C1E9;
  --mo-slate-blue: #004B87;
  --mo-spring-green: #00B74F;
  --mo-stone-grey: #53565A;
  --mo-tango-red: #9D2235;
  --mo-taupe: #83786F;
  --mo-terracotta: #8A391B;
  --mo-titanium: #75787B;
  --mo-transparent: #FBFBFB;
  --mo-transparent-blue: #0032A0;
  --mo-transparent-fuchsia: #A50050;
  --mo-transparent-green: #009739;
  --mo-transparent-grey: #C0C0C0;
  --mo-transparent-light-blue: #00A3E0;
  --mo-transparent-lime: #6CC24A;
  --mo-transparent-orange: #FE5000;
  --mo-transparent-pink: #FABBCB;
  --mo-transparent-red: #C8102E;
  --mo-transparent-violet: #5F249F;
  --mo-transparent-white: #FFFFFF;
  --mo-transparent-yellow: #FFB81C;
  --mo-turquoise: #00AFD7;
  --mo-ultramarine: #012169;
  --mo-violet: #470A68;
  --mo-white: #FFFFFF;
  --mo-white-2: #FFFFFF;
  --mo-white-aqua: #00A3E0;
  --mo-white-black: #FFFFFF;
  --mo-white-blue: #1D428A;
  --mo-white-dark-blue: #202A44;
  --mo-white-grey: #5B6770;
  --mo-white-navy: #051C2C;
  --mo-white-neon-yellow: #C0DF16;
  --mo-white-red: #C10016;
  --mo-white-turquoise: #00A3E0;
  --mo-wood: #D1E0D7;
  --mo-yellow: #FFD100;
  --mo-zinc: #8E9089;
}